.page__header {
  
    height: 100vh;
    width: auto;
    display: flex;
    position: relative;
    margin-bottom: 2rem;
  
}
.button_menu {

    background-color: #6c933e;
    width: 36.9px;
    height: 35.9px ;
    padding: 10px;
    left: 0;
    position: relative;
    z-index: 2;

}

.cover {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/cover.png');
    background-size: cover;
    background-position: center;
  

}
.start {
    text-align: center;
    top: 59%;
    right: 35%;
    font-size: 40px;
    position: absolute;
    color: white;

}

.start1 {

    text-align: center;
    top: 71%;
    right: 33%;
    font-size: 50px;
    position: absolute;
    color: white;
}

.content {

    text-align: center;
    top: 81%;
    right: 33%;
    font-size: 30px;
    position: absolute;
    color: white;

}

.scroll {

        position: absolute;
        bottom: 2rem;
        z-index: 10;
        border-radius: 50%;
        padding: 1rem;
        display: flex;
        align-items: center;
        background-color: white; 
        right: 52%;

}









