<header class="page__header">
    <button class="button_menu">
            <a href="https://adalab.es/">
            <img src="/images/ico-menu.svg" alt="button burger">
    </button>

<body>
      <div class="cover">
      <body background="/public/images/cover.png">

      </div>
  <div class="start">
      <h1>COMIENZOS</h1>
  </div>
  <div class="start1">
      <h2>COMPARTIDOS</h2>
</div>

<div class="content">
    <p>Todo lo que necesitan para volver al cole con ilusión</p>
</div>

<div class="scroll">
      <img src="/images/ico-scroll-down.svg" alt="scroll"> 
    </div>
    </body>
</header>
