@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';


.page__main {
        
     position: relative;  
    

}

.content_main {

       
        justify-items: left; 
        text-align:left;
        display: grid;
        padding: 8px;
        gap: 1rem;

}

.main_store {
        color: #6c933e;
        margin-right: 50%;
        font-size:larger;
       

}

.shop {
        font-size: 2rem;
        margin-right: 50%;


}

.content_shop {

         font-size: 20px;
         color: #4a4a4a;
         
}

.button{

        display: inline-block;
        margin-top: 1.5rem;
        padding: 0.75rem 2rem;
        border: 3px solid #6c9f43;
        color: #6c9f43;
        border-radius: 25px;
        text-decoration: none;
        font-size: 20px;   
       


}

.back_to_school {

        background-color: #d9e4cc;
        width: 100%;
        min-width: 20rem;
        height: auto;
        display: grid;
        justify-items: center;
        text-align: center;
        align-items: center;
        gap: 1rem;

}

.inicio {
        color: #4a4a4a; 
        font-size: 17px;   

}

.inicio-1 {
        font-size: 25px;
}


.material_main {

        display: inline;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        text-align: center;
        gap: 2rem;
        
      
}

.suplies {

        border-radius: 50%; 
        margin-bottom: 0.5rem;
        overflow: hidden;  
        box-shadow: 0 4px 4px 0 #4a4a4a;        

}

.cases {
         border-radius: 50%; 
         margin-bottom: 0.5rem;
         overflow: hidden;
         box-shadow: 0 4px 4px 0 #4a4a4a;   


}

.bags {
         border-radius: 50%; 
         margin-bottom: 1rem;
         overflow: hidden;
         box-shadow: 0 4px 4px 0 #4a4a4a;   

}
        
.button-green {

        background-color: #6c9f43;
        color: white;
        padding: 0.75rem 2rem;
        border-radius: 25px;
        border: none;
        font-weight: bold;
        transition: opacity 0.3s;
        margin-top: 2rem;
        justify-items: right;

}

.scrollup {
  
        width: 45px;
        height: 45px;
        flex-grow: 0;
        margin: 15px 147px 0 148px;
        padding: 11px 12.4px 10px 12px;



}



